.wrapper {
  margin-top: 70px;
  text-align: center;

  h1 {
    font-size: 36px;
  }

  p {
    text-align: justify;
    margin: 0 auto;
    width: 400px;
    font-size: 24px;
  }

  .social_wrapper {
    margin-top: 220px;

    a {
      margin: 0 25px;
      text-decoration: none;
      color: #282828;
    }
  }
}